<div class="container flex full_height">
  <div class="cal_container flex flex_center flex_column">
    <div class="cal_result full_width">{{cal_string}}</div>

    <div class="cal_buttons grid full_width">
      <div class="cal_item">
        <button mat-raised-button class="button" (click)="remove()">C</button>
      </div>

      <div class="cal_item">
        
      </div>

      <div class="cal_item">
       
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">+</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">1</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">2</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">3</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">-</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">4</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">5</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">6</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">*</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">7</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">8</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">9</button>
      </div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">/</button>
      </div>
      
      <div class="cal_item"></div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="addStr($event)">0</button>
      </div>

      <div class="cal_item"></div>

      <div class="cal_item">
        <button mat-raised-button class="button" (click)="calculation()">=</button>
      </div>
    </div>
    
  </div>
</div>